<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

<nav class="bg-black border-gray-200">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="https://scontent.fgdl3-1.fna.fbcdn.net/v/t39.30808-6/463667654_3592800577677058_6368917300819321384_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeGz7FEJghZrNbw-sLZDQVMlxyUqTFl7HzHHJSpMWXsfMV328btMbSVo-sSOIMPLc8AMWblCQLD7wvEFLPmgxYgU&_nc_ohc=V-latIZMyOgQ7kNvgEyryvw&_nc_zt=23&_nc_ht=scontent.fgdl3-1.fna&_nc_gid=AQFScI2yvQoSd6AL18zUK1h&oh=00_AYDf7kZ_FJwl8EI1hnVKSWrpXhbiRASrenypZ2kE5VsDhQ&oe=67172827" class="h-14" alt="Flowbite Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap text-yellow-500 font-body">Proyectos</span>
    </a>
    <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
      <ul class="flex flex-col font-medium mt-4 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-transparent dark:border-gray-700">
        <li>
          <a href="./formularios/ejemplo1/" class="block py-2 px-3 md:p-0 text-white rounded hover:text-yellow-500 font-body" aria-current="page">Ejemplo 1</a>
        </li>                
        <li>
          <a href="./formularios/zodiaco/" class="block py-2 px-3 md:p-0 text-white rounded hover:text-yellow-500 font-body">Zodiaco</a>
        </li>
        <li>
          <a href="./formularios/resistencias/" class="block py-2 px-3 md:p-0 text-white rounded hover:text-yellow-500 font-body">Resistencias</a>
        </li>
        <li>
          <a href="./formularios/empleados/" class="block py-2 px-3 md:p-0 text-white rounded hover:text-yellow-500 font-body">Empleados</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>